.form-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: auto;
    width: 100%;
}

.subtitle {
    margin-top: 20px;
    letter-spacing: 0.1rem;
    text-align: center;
}

form {
    display: block;
    font-size: 1rem;
    height: 100%;
    margin-top: 150px;
}

.required:after {
    content: "*";
    color: #D36135;
}

textarea,
input {
    background-color: #1b243225;
    border-style: none;
    border-radius: 10px;
    display: block;
    margin-top: 7px;
}

input[type="text"] {
    padding: 8px 50px;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

textarea {
    cursor: all-scroll;
    margin-bottom: 70px;
    min-height: 30%;
    min-width: 100%;
    padding: 20px;
    text-align: center;
}

input[type=submit] {
    background-color: #FFCD00;
    border-radius: 15px;
    border-style: none;
    border-width: 0;
    margin-left: 80px;
    padding: 7px 20px;
}

input[type=submit]:hover {
    background-color: #004B87;
    color: #ffffff;
}