html {
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}


.title {
    display: inline-block;
    color: #004B87;
    letter-spacing: 0.7px;
    text-align: center;
}